@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

ion-content{
    font-family: 'Fira Sans', sans-serif;
}
.auto-scroll .scroll-content{
    overflow: auto;
}
page-login{
    h1{
        margin-top: 120px;
    }
}